<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebTests" parallel="methods">
  <test name="Test">
  	<parameter name="browserName" value="chrome"/>
    <classes>
      <class name="com.experitest.auto.WebTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Experitest site">
  	<parameter name="browserName" value="firefox"/>
    <classes>
      <class name="com.experitest.auto.WebTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test">
  	<parameter name="browserName" value="internet explorer"/>
    <classes>
      <class name="com.experitest.auto.WebTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test">
  	<parameter name="browserName" value="iPhone"/>
    <classes>
      <class name="com.experitest.auto.WebTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
<suite name="NativeTests" parallel="methods">
  <test name="TestIOS">
  	<parameter name="deviceQuery" value="@os='ios'"/>
    <classes>
      <class name="com.experitest.auto.IOSTest"/>
    </classes>
  </test> <!-- Test -->
    <test name="TestIOS_login">
  	<parameter name="deviceQuery" value="@os='ios'"/>
    <classes>
      <class name="com.experitest.auto.IOSTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="TestAndroid">
  	<parameter name="deviceQuery" value="@os='android'"/>
    <classes>
      <class name="com.experitest.auto.AndroidTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
